<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="CRMAutmatedEntry" verbose="1">
	
	<test name="MyFitnessPalTest">
		<classes>
			<class name="com.packt.tests.MyFitnessPalTest">
			</class>
		</classes>
	</test>
	
	<test name="correctPWMyFitnessPalTest">
		<classes>
			<class name="com.packt.tests.correctPWMyFitnessPalTest">
			</class>
		</classes>
	</test>
</suite>
